<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
<script
<link rel='stylesheet' type='text/css' href='../public/stylesheets/style.css'>

<script>
$(document).ready(function(){
  let insert = "";
  $("#search").click(function(){
    let pokeurl = "https://pokeapi.co/api/v2/pokemon/";
    pokeurl += $("#inputNum").val();
    pokeurl += "/";
    console.log(pokeurl);
    $.ajax({
      url: pokeurl,
      dataType: "json",
      success : function(parsed_json){
        console.log(parsed_json);
	let results = "<div>Name: " + parsed_json.name + "</div>";
	results += "<div>Number: " + parsed_json.id + "</div>";
	results += "<div>Type:<ul>";
        let x = 0;
        for(x = 0; x < parsed_json.types.length; x++){
	  let typeID = parsed_json.types[x].type.url.split("/");
          results += "<li>" + parsed_json.types[x].type.name + " (Type ID=" + typeID[6] + ")</li>";
        }
        results += "</ul></div>";
	insert = results;
	$("#searchResults").html(insert);
      }
    });
  });
  $("#poki1").click(function(){
    
  });
  $("#poki2").click(function(){
    
  });
  $("#poki3").click(function(){
    
  });
  $("#poki4").click(function(){
    
  });
  $("#poki5").click(function(){
    
  });
  $("#poki6").click(function(){
    
  });
});
</script>
</head>
<body>
<div id='trainer' ng-app='app' ng-controller='mainCtrl'>
  <h1>Pokemon Trainer {{username}}!</h1>
  <h2>Current Pokemon Team</h2>
  <form id='team' ng-submit='changeMember()'>
    <ul>
      <div id='poki1' class='teamDisplay'></div>
      <div id='poki2' class='teamDisplay'></div>
      <div id='poki3' class='teamDisplay'></div>
      <div id='poki4' class='teamDisplay'></div>
      <div id='poki5' class='teamDisplay'></div>
      <div id='poki6' class='teamDisplay'></div>
    </ul>
  </form>
  Pokemon Number: <input id="inputNum" type="text" name="number">
  <button id="search">Search!</button>
  <div id="searchResults"></div>
</div>
</body>
</html>
